apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: project
  name: project-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 100Mi