apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ping-pong
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
      - image: ssantos94/ping-pong:8ynsbhb
        name: ping-pong