apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  labels:
    app: ping-pong
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
      - image: ssantos94/ping-pong:a9bn94
        name: ping-pong
        env:
        - name: DATABASE_URL
          value: postgres://postgres:postgres@postgres-0.postgres:5432/pingpong