apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ping-pong
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: shared-image
          persistentVolumeClaim:
            claimName: ping-pong-claim
      containers:
      - image: ssantos94/ping-pong:q3bn4578
        name: ping-pong
        volumeMounts:
        - name: shared-image
          mountPath: /app/counter