apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: log-output
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
      - image: ssantos94/log-output:ae497hj
        name: log-output